// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  padding-left: 10px
}
.articles {
  margin: 0 400px;
  padding: 0 30px
}
.article-box {
  padding: 0 40px
}
